@import "tailwindcss";

@theme {
  --color-dark-bg: #000000;
  --color-dark-card: #0a0a0a;
}


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

 
  .dark {
    --background: #000000;
    --foreground: #ffffff;
    color-scheme: dark;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
}